@page "/about"

<h1>About Us</h1>
<div class="flexcontainer">
    <img src="/buh.png" alt="Erikas picture">
    <ul>
        <li class="name">Name: Erikas Rudokas</li>
        <li class="role">Role: Developer</li>
        <li class="email">Email: erirud2@ktu.lt</li>
        <li class="experience">Experience: Pro programmer and yapper</li>
    </ul>
</div>
<div class="flexcontainer">
    <img src="/Kajaus-cat.png" alt="Kajus picture">
    <ul>
        <li class="name">Name: Kajus Černiauskas</li>
        <li class="role">Role: Developer</li>
        <li class="email">Email: kajcer@ktu.lt</li>
        <li class="experience">Experience: Has experience doing everything + produces music</li>
    </ul>
</div>
<div class="flexcontainer">
    <img src="/WalterWhite.png" alt="Matas picture">
    <ul>
        <li class="name">Name: Matas Motiejūnas</li>
        <li class="role">Role: Developer</li>
        <li class="email">Email: matmot@ktu.lt</li>
        <li class="experience">Experience: gamer (noob)</li>
    </ul>
</div>
<div class="flexcontainer">
    <img src="/skeleton.png" alt="Jonas picture">
    <ul>
        <li class="name">Name: Jonas Šileikis</li>
        <li class="role">Role: Developer</li>
        <li class="email">Email: jonsil2@ktu.lt</li>
        <li class="experience">Experience: Rizzler, gamer, gym bro </li>
    </ul>
</div>
@code {

}
