@page "/contacts"

<h3>Contacts (Fake)</h3>

<ul>
    <li>Fake contacts!</li>
    <li>Office Address: Studentu g. 51</li>
    <li>Email: john.doe@example.com</li>
    <li>Phone: +370 6XX XXXXX</li>
    <li>Country: Somalia 👳‍👳‍👳‍👳‍👳‍  🏴‍☠️🏴‍☠️🦜🦜</li>
</ul>
