@inherits DisplayTopMoviesBase

<div class="movie-cards">
    @foreach (var movie in Movies)
    {
        <a href="/MovieDetails/@movie.Id">
            <div class="movie-card">
                <img src="@movie.ImageUrl" alt="@movie.Name" />
                <div class="card-info">
                    <p>@movie.Name</p>
                </div>
            </div>
        </a>
    }
</div>


