* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 50px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    position: relative;
}
.movie-cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.movie-card{
    margin: 0px 10px 10px 0px;
    border: 1px solid black;
}
.card-image{
    width: 100%;
    height: 200px;
    background-color: gray;
}
.card-info{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
