@page "/"
@inherits MoviesBase
@inject IJSRuntime JSRuntime
<PageTitle>Home</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image</title>
    <style>


        body, html {
            margin: 0;
            padding: 0;
            display: unset;
            position: relative;
            min-height: 100%;
            min-width: 100%;
            background: rgb(1,1,74);
            background: radial-gradient(circle, rgba(1,1,20,1) 0%, rgba(0,0,0,1) 100%);
            background-size: cover;
        }

    </style>
</head>
<body>
    <header class="page-header">
        <div class="container flow">
            <h1 class="page-title">Movie list</h1>
            <p class="page-subtitle">Filer out:</p>
        </div>
    </header>
    <h2 class="section-title">Recent movies</h2>

    <div class="media-scroller snaps-inline">

        @foreach (var movie in Movies)
        {
            <a href="/MovieDetails/@movie.Id">
                <div class="media-element">
                    <img src="@movie.ImageUrl" alt="@movie.Name">
                    <p class="title">@movie.Name</p>
                </div>
            </a>
        }
    </div>
</body>
</html>
