@page "/Movies"
@inherits MoviesBase
@using CinemaCritic.Models.Dto

@if (Movies is null)
{
    <h1>Loading...</h1>
}
else
{
    <SearchBox Items="@Movies" OnSearch="UpdateFilteredMovies"></SearchBox>

    @code {
    List<MovieDto> filteredMovies = new();
    void UpdateFilteredMovies(string search)
    {
        if (string.IsNullOrEmpty(search))
        {
            filteredMovies = Movies.ToList();
        }
        else
        {
            filteredMovies = Movies.Where(m => m.Name.Contains(search, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}
    <DisplayMovies Movies="@filteredMovies"></DisplayMovies>
}

