body[b-6e82rfcyib] {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    background: rgb(1,1,74);
    background: radial-gradient(circle, rgba(1,1,20,1) 0%, rgba(0,0,0,1) 100%);
    background-size: cover;
    font: 1em/1.618 Inter, sans-serif;
    align-items: center;
    justify-content: center;
}
.Box h1[b-6e82rfcyib] {
    font-size: 80px;
}
.Box p[b-6e82rfcyib] {
    font-size: 20px;
}
.Box a[b-6e82rfcyib] {
    text-decoration: none;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    border-color:white;
    margin: 20vw;
    font-size: 20px;
}

p[b-6e82rfcyib] {
    margin: 0;
}

.oswald-box[b-6e82rfcyib] {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.center[b-6e82rfcyib] {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-footer[b-6e82rfcyib] {
    font-size: 0.65em;
    color: #446;
}
.Home[b-6e82rfcyib]
{
    padding: 20px 35%;
    color:white;

}